<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.alan.peter.bilal.sam.choremanager">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_new_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_new_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".Activities.AppLoginActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- CHILD ACITVITES OF MAIN -->

        <activity
            android:name=".Activities.MenuActivity"
            android:finishOnTaskLaunch="true"
            android:label="Menu" />
        <activity
            android:name=".Activities.UserMenu"
            android:finishOnTaskLaunch="true"
            android:label="Users"
            android:parentActivityName=".Activities.MenuActivity" />
        <activity
            android:name=".Activities.MaterialsActivity"
            android:label="Materials List"
            android:parentActivityName=".Activities.MenuActivity" />
        <activity
            android:name=".Activities.Groceries"
            android:label="Grocery List"
            android:parentActivityName=".Activities.MenuActivity" />
        <activity
            android:name=".Activities.ShoppingListActivity"
            android:label="Shopping List"
            android:noHistory="true"
            android:parentActivityName=".Activities.MenuActivity" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".Activities.MenuActivity" />
        <activity
            android:name=".Activities.ChoreListActivity"
            android:label="Chores"
            android:parentActivityName=".Activities.MenuActivity" />
        <activity
            android:name=".Activities.SpecificChoreActivity"
            android:label="Chore Details"
            android:parentActivityName=".Activities.ChoreListActivity" />
        <activity
            android:name=".Activities.NewChoreActivity"
            android:label="New Chore"
            android:parentActivityName=".Activities.ChoreListActivity" />
        <activity
            android:name=".Activities.NewUserActivity"
            android:label="New User"
            android:parentActivityName=".Activities.UserMenu" />
        <activity android:name=".Activities.ChooseProfilePictureActivity" />
        <activity
            android:name=".Activities.AssignedResourcesActivity"
            android:label="Assigned Resources"
            android:parentActivityName=".Activities.ChoreListActivity" />
        <activity
            android:name=".Activities.EditChoreActivity"
            android:label="Edit Chore"
            android:parentActivityName=".Activities.SpecificChoreActivity" />
        <activity android:name=".Activities.SpecialAdminUserCreationActivity" />
        <activity android:name=".Activities.SwitchUserActivity" android:label="Switch User"
            android:parentActivityName=".Activities.UserMenu"></activity>
    </application>

</manifest>