<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.alan.peter.bilal.sam.choremanager">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".AppLoginActivity"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- CHILD ACITVITES OF MAIN -->

        <activity
            android:name=".MenuActivity"
            android:label="Menu"
            android:parentActivityName=".AppLoginActivity" >
        </activity>


            <activity
                android:name=".UserMenu"
                android:label="Users"
                android:parentActivityName=".MenuActivity">
            </activity>


            <activity
                android:name=".MaterialsActivity"
                android:label="Materials List"
                android:parentActivityName=".MenuActivity">
            </activity>


            <activity
                android:name=".Groceries"
                android:label="Grocery List"
                android:parentActivityName=".MenuActivity">
            </activity>


            <activity
                android:name=".ShoppingListActivity"
                android:label="Shopping List"
                android:parentActivityName=".MenuActivity" >
            </activity>


            <activity
                android:name=".SettingsActivity"
                android:label="Settings"
                android:parentActivityName=".MenuActivity" >
            </activity>


            <activity
                android:name=".ChoreListActivity"
                android:label="Chores"
                android:parentActivityName=".MenuActivity" >
            </activity>


            <activity
                android:name=".SpecificChoreActivity"
                android:label="Chore_Name_Here"
                android:parentActivityName=".ChoreListActivity" >
            </activity>

            <activity
                android:name=".NewChoreActivity"
                android:label="New Chore"
                android:parentActivityName=".ChoreListActivity">
            </activity>

    </application>

</manifest>